@model ElevateJobPortal.Models.ViewModels.VendorOrganizationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>VendorOrganizationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="VendorOrgName" class="control-label"></label>
                <input asp-for="VendorOrgName" class="form-control" />
                <span asp-validation-for="VendorOrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorOrgAddress" class="control-label"></label>
                <input asp-for="VendorOrgAddress" class="form-control" />
                <span asp-validation-for="VendorOrgAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorOrgContact" class="control-label"></label>
                <input asp-for="VendorOrgContact" class="form-control" />
                <span asp-validation-for="VendorOrgContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorOrgEmail" class="control-label"></label>
                <input asp-for="VendorOrgEmail" class="form-control" />
                <span asp-validation-for="VendorOrgEmail" class="text-danger"></span>
            </div>
            <div class="form-group row ">
                <label class="form-control-label">Image</label>
                <div class="col-sm-6">
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@